@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap");

:root {
  --text: #3d535f;
  --primary: hsl(154, 39%, 49%);
  --bg-color: black;
  --double: #f3f5f8;
}

.dark-mode {
  --bg-color: #f3f5f8;
  --primary: hsl(154, 39%, 49%);
  --double: black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Rubik", sans-serif;
}

body {
  height: 100vh;
  background-color: var(--bg-color);
  color: var(--text);
}

main {
  margin: auto;
  width: 320px;
}

b {
  color: var(--primary);
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

p {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}
span {
  font-size: 70px;
  color: var(--primary);
}

#page {
  margin-top: -5rem;
}

button {
  color: var(--double);
  border: none;
  background: transparent;
  text-transform: uppercase;
  font-size: 12px;
  padding: 14px;
  outline: none;
  position: relative;
}

button:after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  height: 2px;
  width: 0%;
  background-color: var(--primary);
  transition: 0.6s;
}

button:hover::after,
button.active::after {
  width: 100%;
}

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  background: var(--primary);
  border-radius: 0.6rem;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.4);
  font-size: 1.6rem;
  color: white;
  letter-spacing: 0.1rem;
  font-weight: 600;
  border: 0.2rem solid transparent;
  transition: 0.5s ease;
  margin: 40px 5px;
  text-transform: capitalize;
  cursor: pointer;
}

.btn:hover {
  background: transparent;
  color: var(--primary);
  border-color: var(--primary);
}

.tab-links {
  margin-bottom: -8rem;
}

.tab-content img {
  width: 12rem;
  height: 12rem;
  object-fit: cover;
  border-radius: 50%;
  outline: 0.2rem solid var(--primary);
  transition: 0.3s ease;
  box-shadow: 0 0 2rem var(--primary);
  cursor: pointer;
  margin-top: 2rem;
}

.tab-content i {
  margin-right: 0.8rem;
  color: var(--primary);
}

.tab-content > section {
  animation: up 1.5s;
}

@keyframes up {
  from {
    opacity: 0;
    transform: translateY(15px);
  }

  to {
    opacity: 1;
  }
}

::-webkit-scrollbar {
  width: 0.4rem;
  border-radius: 0.5rem;
  background-color: var(--double);
}

::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: var(--primary);
}

.heading {
  display: block;
  position: relative;
  text-align: center;
  margin-top: 4rem;
  font-size: 35px;
  letter-spacing: 5px;
  color: var(--text);
}

nav {
  display: flex;
  position: fixed;
  width: 100%;
  justify-content: space-around;
  height: 80px;
  line-height: 80px;
  z-index: 111;
  margin: 0 auto;
}

.scroll {
  background-color: var(--bg-color);
  box-shadow: 0 0 1rem var(--primary);
}

.logo {
  display: flex;
  font-size: 40px;
  font-weight: 800;
  color: var(--text);
  letter-spacing: 3px;
  cursor: pointer;
  text-transform: capitalize;
}

.logo-point:hover {
  color: var(--double);
}

.nav_menu {
  display: flex;
}

.nav_menu li {
  list-style: none;
  margin: 0 15px;
}

.nav_menu li a {
  font-size: 25px;
}

.nav_menu li a {
  font-size: 25px;
  color: var(--text);
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: capitalize;
}

.nav_menu li:hover a,
.links a:hover {
  color: var(--primary);
}

#menu-btn {
  display: none;
  background: none;
  border: none;
  color: var(--text);
  font-size: 2.5rem;
  cursor: pointer;
  padding: 5px;
  transition: all 800ms ease;
}

#menu-btn:hover {
  font-size: 3rem;
}

.responsive-menu {
  position: fixed;
  top: 5rem;
  right: 5%;
  height: fit-content;
  width: 13rem;
  flex-direction: column;
  gap: 0;
  display: none;
  z-index: 999;
}

.responsive-menu li {
  width: 100%;
  height: 4rem;
  animation: animateNavItems 1s ease forwards;
  transform-origin: top;
  opacity: 0;
  list-style: none;
}

.responsive-menu li:nth-child(2) {
  animation-delay: 300ms;
}

.responsive-menu li:nth-child(3) {
  animation-delay: 600ms;
}

.responsive-menu li:nth-child(4) {
  animation-delay: 900ms;
  border-bottom: 1px solid var(--primary);
}

@keyframes animateNavItems {
  0% {
    transform: rotateX(90deg);
  }
  100% {
    transform: rotate(0deg);
    opacity: 1;
  }
}

.responsive-menu li a {
  background: var(--text);
  color: var(--bg-color);
  width: 100%;
  height: 100%;
  display: grid;
  font-size: 1.1rem;
  place-items: center;
  border-top: 1px solid var(--primary);
  transition: all 800ms ease;
}

.responsive-menu li a:hover {
  background: var(--bg-color);
  color: var(--text);
}

.show-menu {
  display: block !important;
}

.links a {
  font-size: 30px;
  color: var(--text);
  margin: 25px 10px;
}

.contato i {
  color: var(--primary);
}

.contato i:hover {
  color: var(--double);
  cursor: pointer;
}

#darkMode-icon {
  position: fixed;
  top: 5.5rem;
  font-size: 1.6rem;
  color: var(--text);
  cursor: pointer;
  left: 3.5px;
}

#darkMode-icon:hover {
  font-size: 1.8rem;
  color: var(--primary);
  cursor: pointer;
}

#rocket {
  font-size: 2.6rem;
}

.wrapper {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 20% 10%;
  overflow: hidden;
}

.cols0 {
  z-index: 5;
}

.topline {
  display: block;
  position: relative;
  font-size: 3.5rem;
  letter-spacing: 5px;
  color: var(--text);
}

.topline::after {
  position: absolute;
  content: "";
  height: 4px;
  width: 45px;
  bottom: 10px;
  background-color: var(--primary);
}

.wrapper h1 {
  display: block;
  font-size: 3rem;
  font-weight: 800;
  color: var(--text);
  margin-right: -50%;
}

#palavra {
  color: var(--primary);
}

.imgbox {
  position: relative;
  width: 80%;
  height: 100%;
}

.imgbox img {
  position: relative;
  height: 100%;
  width: calc(120% - 80px);
  margin-left: 6rem;
  top: -2px;
  right: 10px;
  left: 5px;
  animation: animateUser 4s linear infinite;
}

@keyframes animateUser {
  50% {
    top: -20px;
    left: 5px;
    right: 1px;
  }
}

section {
  min-height: 100vh;
  padding: 10rem 7% 2rem;
}

.portifolio {
  margin: -10rem auto;
  width: 80%;
}

.portifolio h2 {
  margin-bottom: 2rem;
}

.portifolio .portifolio-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2.5rem;
}

.portifolio-container .portifolio-box {
  position: relative;
  display: flex;
  border-radius: 2rem;
  box-shadow: 0 0 1rem var(--primary);
  overflow: hidden;
}

.portifolio-box img {
  width: 100%;
  transition: 0.5s ease;
}

.portifolio-box:hover img {
  transform: scale(1.1);
}

.portifolio-box .portifolio-layer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.1), var(--primary));
  color: white;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 0 4rem;
  transition: 0.5 ease;
}

.portifolio-box:hover .portifolio-layer {
  opacity: 1;
}

.portifolio-layer h4 {
  font-size: 2rem;
  text-decoration: underline;
}

.portifolio-layer p {
  font-size: 1rem;
  color: white;
  margin: 0.3rem 0 1rem;
}

.portifolio-layer a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  background-color: white;
  border-radius: 50%;
  margin-bottom: 0.3rem;
}

.portifolio-layer a i {
  font-size: 1rem;
  color: var(--text);
}

.services {
  margin: -7rem auto;
  padding-bottom: 8rem;
  width: 80%;
}

.services h2 {
  margin-bottom: 5rem;
  padding: 1rem;
  text-align: center;
}

.services .services-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: -4rem;
}

.services-container .services-box {
  flex: 1 1 10rem;
  background: var(--bg-color);
  padding: 3rem 2rem 4rem;
  border-radius: 2rem;
  box-shadow: 0 0.1rem 0.5rem var(--primary);
  text-align: center;
  border-top: 0.6rem solid var(--primary);
  border-bottom: 0.6rem solid var(--primary);
  transition: 0.5s ease;
}

.services-container .services-box:hover {
  box-shadow: 0 0.1rem 2rem var(--primary);
  transform: scale(1.05);
}

.services-box i {
  font-size: 7rem;
  color: var(--primary);
}

.services-box h3 {
  font-size: 2.6rem;
  transition: 0.5s ease;
}

.services-box:hover h3 {
  color: var(--primary);
}

.services-box p {
  font-size: 1.5rem;
  margin: 1.2rem 0 0.5rem;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem 7%;
}

.footer-text p {
  margin-bottom: 0%;
  font-size: 1rem;
  color: var(--primary);
}

.footer-iconTop a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
  background: var(--primary);
  border-radius: 0.8rem;
  border: 0.2rem solid var(--double);
  outline: 0.2rem solid transparent;
  transition: 0.5s ease;
}

.footer-iconTop a:hover {
  background: transparent;
}

.footer-iconTop a i {
  font-size: 1rem;
  color: var(--double);
}

#icon {
  cursor: pointer;
  position: fixed;
  top: 25%;
  left: 3.5px;
}

#icon i {
  color: var(--text);
  font-size: 1.6rem;
}

#icon i:hover {
  color: var(--primary);
  font-size: 1.8rem;
}

#colorBox {
  display: none;
  width: 50px;
  height: 150px;
  position: fixed;
  top: 43%;
  left: 1px;
  transform: translateY(-50%);
  padding: 10px;
  border-radius: 5px;
  z-index: 999;
}

#colorBox i {
  font-size: 1.2rem;
}

.colorOption {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-bottom: 10px;
  cursor: pointer;
}

.orange {
  --primary: #fd951f;
}

#colorBox .orange i {
  color: #fd951f;
}

.pink {
  --primary: pink;
}

#colorBox .pink i {
  color: pink;
}

.blue {
  --primary: hsl(209, 100%, 49%);
}

#colorBox .blue i {
  color: hsl(209, 100%, 49%);
}

.green {
  --primary: hsl(154, 39%, 49%);
}

#colorBox .green i {
  color: hsl(154, 39%, 49%);
}

.purple {
  --primary: hsl(270, 100%, 50%);
}

#colorBox .purple i {
  color: hsl(270, 100%, 50%);
}

/*======================= BREAKPOINTS ===================*/

@media screen and (max-width: 820px) {
  .nav_menu {
    display: none;
  }

  #menu-btn {
    display: block;
  }

  .responsive-menu {
    display: none;
  }

  .logo {
    font-size: 25px;
  }

  .links a {
    font-size: 23px;
  }

  .imgbox img {
    width: 0;
  }

  #palavra {
    font-size: 1.2rem;
  }

  .wrapper h1 {
    font-size: 1.3rem;
  }

  .portifolio {
    margin-top: -20rem;
  }

  .portifolio-layer h4 {
    font-size: 0;
  }

  .portifolio-layer p {
    font-size: 0;
  }

  .portifolio-layer a i {
    font-size: 0.8rem;
  }

  .services {
    margin-top: -15rem;
  }

  .services i {
    font-size: 4rem;
  }

  .footer {
    display: grid;
    grid-template-columns: 70% 30%;
    gap: 1rem;
  }
}
